//@@author A0130717M
.root {
    -fx-font-size: 12pt;   
    -fx-background-size: cover;                     
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#light{
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-background-color: rgba(255, 200, 70, 0.2);
    -fx-background-radius: 1em;
    -fx-padding: 10 10 10 10;
}

#dark{
    -fx-text-fill: rgba(110, 80, 0, 1);
    -fx-background-color: rgba(225, 225, 225, 0.5);
    -fx-background-radius: 1em;
    -fx-padding: 10 10 10 10;
}

#taskPane{
    -fx-arc-height: 10;
    -fx-arc-width: 10;
    -fx-padding: 10 10 10 10;
}

.text-field{
    -fx-font-size: 12pt;
}

#zoom{
    -fx-font-size: 14pt;
}

#overdue{
    -fx-fill: rgba(255, 20, 20, 1);
}

#zoomOverdue{
    -fx-font-size: 14pt;
    -fx-fill: rgba(255, 20, 20, 1);
}

#empty{
    -fx-font-size: 16pt;
}

#header{
    -fx-font-size: 12pt;
    -fx-background-radius: 0em 0em 0em 0em;
    -fx-padding: 5 0 5 0;
}

.label{
    -fx-background-radius: 1em 1em 0em 0em;
}


#tab{
    -fx-background-radius: 1em 1em 0em 0em;
}

#consolas{
    -fx-font-size: 12pt;
    -fx-background-radius: 1em;
    -fx-padding: 8 20 8 20;
    -fx-font-family: "Consolas";
}

#segoe{
    -fx-font-size: 12pt;
    -fx-background-radius: 1em;
    -fx-padding: 5 20 5 20;
    -fx-font-family: "Segoe";
}

#message{
    -fx-font-size: 16pt;
    -fx-background-radius: 1em;
    -fx-padding: 10 10 10 10;
}

.scroll-pane{
    -fx-background-color: transparent;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-bar{
    -fx-background-color: transparent;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding:0 20 0 0;
}
.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
    -fx-shape: " ";
    -fx-padding:2;
}