//@@author A0130717M
.root {
    -fx-background-image: url("Cat.jpg");
}

#taskPane{
    -fx-fill: rgba(110, 80, 0, 0.4);
}

#normal{
    -fx-fill: rgba(255, 255, 255, 1);
}

#title{
    -fx-fill: rgba(110, 80, 0, 0.3);
}

#titleText{
    -fx-fill: rgba(255, 255, 255, 1);
}

#evenLine{
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

#oddLine{
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.text-field{
    -fx-background-color: rgba(110, 80, 0, 0.4);
    -fx-text-fill: rgba(255, 255, 255, 1);
}

#zoom{
    -fx-fill: rgba(255, 225, 110, 1);
}

#empty{
    -fx-fill: rgba(110, 80, 0, 1);
}

.label{
    -fx-text-fill: rgba(110, 80, 0, 1);
}


#header{
    -fx-text-fill: rgba(255, 250, 230, 1);
    -fx-background-color: rgba(110, 80, 0, 0.3);
}

#tab{
    -fx-text-fill: rgba(255, 250, 230, 1);
    -fx-background-color: rgba(110, 80, 0, 0.6);
}

#consolas{
    -fx-text-fill: rgba(255, 250, 230, 1);
    -fx-background-color: rgba(110, 80, 0, 0.3);
}

#segoe{
    -fx-text-fill: rgba(255, 250, 230, 1);
    -fx-background-color: rgba(110, 80, 0, 0.3);
}

#message{
    -fx-text-fill: rgba(255, 250, 230, 1);
    -fx-background-color: rgba(110, 80, 0, 0.4);
    
}