//@@author A0130717M
.root { 
    -fx-font-family: "Segoe";
}

.label{
    -fx-font-size: 16pt;
    -fx-padding: 5 10 5 10;
}


#tab{
    -fx-font-size: 16pt;
    -fx-padding: 5 10 5 10;
}

#titleText{
    -fx-font-size: 14pt;
}