//@@author A0130717M
.root {
    -fx-background-image: url("Warm.jpg");
}

#taskPane{
    -fx-fill: rgba(255, 255, 200, 0.5);
}

#normal{
    -fx-fill: rgba(60, 26, 55, 1);
}

#title{
    -fx-fill: rgba(255, 255, 200, 0.3);
}

#titleText{
    -fx-fill: rgba(60, 26, 55, 1);
}

#evenLine{
    -fx-background-color: rgba(140, 140, 60, 0.3);
}

#oddLine{
    -fx-background-color: rgba(140, 140, 60, 0.1);
}

.text-field{
    -fx-background-color: rgba(255, 255, 200, 0.5);
    -fx-text-fill: rgba(60, 26, 55, 1);
}

#zoom{
    -fx-fill: rgba(80, 46, 75, 1);
}

.label{
    -fx-text-fill: rgba(60, 26, 55, 1);
}

#header{
    -fx-text-fill: rgba(255, 250, 230, 1);
    -fx-background-color: rgba(60, 26, 55, 0.3);
}

#tab{
    -fx-text-fill: rgba(255, 250, 230, 1);
    -fx-background-color: rgba(60, 26, 55, 0.3);
}

#consolas{
    -fx-text-fill: rgba(260, 26, 55, 1);
    -fx-background-color: rgba(60, 26, 55, 0.3);
}

#segoe{
    -fx-text-fill: rgba(60, 26, 55, 1);
    -fx-background-color: rgba(60, 26, 55, 0.3);
}

#message{
    -fx-text-fill: rgba(60, 26, 55, 1);
    -fx-background-color: rgba(255, 250, 230, 0.3);
}